body {
  margin: 0 auto;   /* center content */
  max-width: 1000px; /* limit width */
}

li {
  padding:11px;
  margin: 11px;
  border: 11px;
}

p {
  color: blue;
  font-weight: bold;
  display: inline; /*  свойство display . display: block начинается с новой строки и занимает всю ширину , display: inline начинается в любом месте и занимает столько ширины, сколько нужно для помещения содержания */
  border-bottom: 5px solid red; /* отбивочная линия (граница) снизу */
  align-content: center; /* выравнивание по центру */
}
/* стиль для всех абзацев приоритет 1/3 */

p.red {
  color: red;
  font-size: 20px;
}
/* все элементы P с классом red */

h1#article-title {
  font-family: Georgia, serif;
  color: #1050ff;
}
/* все элементы H1 с стилем article-title  */

h1, h2, h3 {
  font-weight: 400;
  margin: 0;
}
/* можно через запятую сразу для нескольких указывать  */


#user {
  font-weight: normal;
  font-size: 10px;
  display: inline-block;
  background-color: #39CCCC;
  width: 100px;
  height: 70px;
  padding-left: 5px;
  padding-top: 10px;
  
  border-top: 8px solid #001f3f;
  margin-left: 15px; /* отступ слева */
  margin-top: 15px; /* отступ сверху */
  margin-right: 15px; /* отступ справа */
  margin-bottom: 15px; /* отступ снизу */
}
/* стиль для всех элементов где в открывающем тэге указан ID " id="user" ", приоритет 3/3 */

.user {
  font-weight: normal;
  font-size: 20px;
}
/* стиль для всех элементов где в открывающем тэге указан class " class="user" ", приоритет 2/3 */
